@import '../../../helpers/css/common.styl'

@media $small-only
    .container
        background-color $birman
        display flex
        align-items center
        justify-content center
        position relative

        img
            max-width 60%
    
    .discount
        position absolute
        color $birman
        background $mazzafera
        padding 10px
        bottom 0
        width 35px
        left 0
        text-transform uppercase
        font-size 13px