@import '../../../helpers/css/common.styl'

.checkout
    padding 10px
    width 100%
    background-color $mazzafera
    color $birman
    text-transform uppercase
    font-size 14px
    outline 0
    cursor pointer
    position absolute
    left 0
    bottom 0