@import '../../../helpers/css/common.styl'

@media $small-only
    .inner
        font-size 14px
        display flex
        justify-content center
        color $acioli
    
    .innerDiscount
        font-size 12px
        margin-top 5px

    .installments
        margin-left 10px
    
    .regularPrice
        color $pascolato
        text-decoration line-through

    .discountPercentage
        color $angel
        margin-left 5px