@import '../../helpers/css/common.styl'

@media $small-only
  .items
    text-align center
    background $birman
    position relative
    min-height 585px
    display flex
    justify-content center
    align-items center
    flex-direction column

  .title
    font-size 15px
    line-height 20px
    margin-bottom 10px

  .link
    color $mazzafera
    text-decoration none
    display block